.table-responsive {
  overflow-x: auto;
}

.table th, .table td {
  text-align: center;
  vertical-align: middle;
}

.table-hover tbody tr:hover {
  background-color: #f5f5f5;
  transition: background 0.2s;
    cursor: pointer;

}


.fade-init {
  opacity: 0;
  transition: opacity 1s ease;
}
.fade-in {
  opacity: 1;
}


.action-icon:hover {
  filter: brightness(1.5);
  cursor: pointer;
}

/* Estilos tarjeta */
.product-modal-backdrop {
  background: rgba(0,0,0,0.6);
  z-index: 3000;
  animation: fadeInBg 0.3s;
}

@keyframes fadeInBg {
  from { opacity: 0; }
  to { opacity: 1; }
}

.product-modal-card {

  border-radius: 1rem;
  box-shadow: 0 8px 32px rgba(0,0,0,0.25);
  border: none;
  animation: fadeInCard 0.4s;
  background: #fff;
}

@keyframes fadeInCard {
  from { transform: translateY(40px) scale(0.98); opacity: 0; }
  to { transform: translateY(0) scale(1); opacity: 1; }
}

.product-modal-card .card-title {
  font-weight: bold;
  font-size: 1.4rem;
  color: black
}

.product-modal-card .card-text strong {
  color: #212529;
}



.product-modal-card {
  width: 50vw;
  min-height: 400px;
}



svg:hover {
  border-radius: 50%;
  cursor: pointer;
  scale: 1.2;
  transition: all 0.3s ease-in-out;
}