.product-modal-card {
  min-width: 70vw !important;  
  min-height: 90vh !important;
  overflow-y: auto;
  border-radius: 12px;
}



/* FULLSCREEN EN MÓVIL */
@media (max-width: 576px) {
  .product-modal-card {
    width: 100vw !important;
    max-height: 90vh !important;

    margin: 3 !important;
    border-radius: 0 !important;

    box-shadow: none !important;
  }

  /* Contenido interno: sin padding extra */
  .product-modal-card .card-body {
    padding: 1rem !important;
  }

  /* Botón cerrar más accesible */
  .product-modal-card .btn-close {
    top: 10px !important;
    right: 10px !important;
  }
}



