/* --- Sidebar en escritorio (vertical a la izquierda) --- */
.sidebar-sticky {
  position: sticky;
  top: 0;
  left: 0;
  height: 100vh;
  width: 220px;
  background-color: #212529;
  color: white;
  transition: width 0.4s ease;
  overflow-x: hidden;
  z-index: 1020;

}


/* --- Botón para abrir/cerrar menú --- */
.navbar-toggler {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2000;
  padding: 0;
  border-radius: 0 0 1.5rem 0;
  width: 48px;
  height: 68px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}


/* --- Estilos para pantallas móviles (navbar superior horizontal) --- */

@media (max-width: 668px) {


 
  
  .sidebar-sticky {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 1050;
  }




 

  

}